.section {
  width: 1350px;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section .section__box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.section .section__box:not(:last-child) {
  margin-right: 100px;
}

@media (max-width: 1000px) {
  .section {
    flex-direction: column;
  }

  .section__box .section__box {
    margin-right: 0px;
  }

  .section .section__box:not(:last-child) {
    margin-bottom: 25px;
  }
}

.px {
  width: 1350px;
}

@media (max-width: 1380px) {
  .px {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .px {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .px {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .px {
    width: 350px;
  }
}

.section2 {
  width: 100%;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.section2 .section2__box {
  width: 100px;
  height: 100px;
  border: 1px solid palevioletred;
}

.section2 .section2__box:not(:last-child) {
  margin-right: 100px;
}
